.caja{
	background-color: white;
	border: 1px solid #E8E8E8;
	margin-top: 35px;
	margin-bottom: 60px;
}
.title{
	display: block;
	padding: 35px 5px;
	margin: 30px 18px 0;
}
.price{
	display: block;
	padding: 60px 5px;
	font-size: 20px;
	margin: 0 18px;
}
.parrafo{
	width: 75%;
	margin: 30px auto 45px auto;
	border-bottom: 1px solid #E8E8E8;
}
.parrafo p{
	border-bottom: 1px solid #E8E8E8;
	margin: 0;
	padding: 15px 0px;
}
.parrafo button{
	margin: 20px auto;
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
}