header{
	background-color: #323A45;
	}

header h1{
	margin: 8px 0 8px 60px;
	color: white;
	font-weight: 800;
	}
header nav{
	margin-top: 20px;
}

header nav a{
	font-size: 16px;
	margin-right: 35px;
	font-weight: 700;
}

.banner{
	background-image: url("../img/background/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 300px;
}

.btn {
	padding:2% 3%;
	border-radius: 0%;
	font-size: 18px;
	color: white;
	font-weight: 600;
	background: #4A4949;
	margin: 3%;
}

.banner strong{
	font-size: 50px;
}

.icons{
	background-color: white;
}
.icons i {
	font-size: 3em;
	color: #0DC0C0;
}

.icons p {
	font-size: 0.8em;
}

.description {
	font-size: 12px;
	background-color: white;
}

.description i {
	font-size: 30px;
	color: #0DC0C0; /*verde*/
}

.description .col-sm-6 .row {
	padding: 5%;
}

.description .col-xs-1{
	padding-top: 3%;
}

.portfolio nav{
	margin-bottom: 25px;
}

.portfolio a{
	padding: 12px;
	font-size: 16px;
	background-color: white;
	margin:1px;
}

.portfolio .caja{
	background: white;
	padding: 1%;
	margin: 2% 0;
	line-height: 1.5;
	box-shadow: 6px 5px 32px -6px rgba(0,0,0,0.75);
}

.portfolio .caja:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}

.load-more{
	padding: 1% 2%;
}

.portfolio{
	padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
	header h1{
	margin: 3px 0 0 8px;
	}

	header nav{
	margin:0 0 10px 22px;
	}

	header nav a{
	font-size: 16px;
	margin-right: 10px;
	font-weight: 600;
	}

	.banner{
	padding: 100px 50px;
	}

	.icons .col-sm-4{
	margin-top: 20px;
	padding: 0 50px;
	font-size: 16px;
	}

	.portfolio nav a{
	font-size: 0.9em;
	padding: 3px;
	}

	.portfolio nav{
	padding: 0;
	margin-top: 20px;
	}

	.portfolio{
	padding: 10px 0px;
	}

	.caja img{
		width: 100%;
	}
}