header{
	background-color: #323A45;
	}

header h1{
	margin: 8px 0 8px 60px;
	color: white;
	font-weight: 800;
	}
header nav{
	margin-top: 20px;
}

header nav a{
	font-size: 16px;
	margin-right: 35px;
	font-weight: 700;
}

.banner{
	background-image: url("../img/background/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}
.banner .opaco{
	padding: 100px 50px;

}
.btn {
	padding:2% 3%;
	border-radius: 0%;
	font-size: 18px;
	color: white;
	font-weight: 600;
	background: #4A4949;
	margin: 3%;
}

.banner strong{
	font-size: 50px;
}

.icons{
	background-color: white;
}
.icons i {
	font-size: 3em;
	color: #0DC0C0;
}

.icons p {
	font-size: 0.8em;
}

.description {
	font-size: 12px;
	background-color: white;
}

.description i {
	font-size: 30px;
	color: #0DC0C0; /*verde*/
}

.description .col-sm-6 .row {
	padding: 5%;
}

.description .col-xs-1{
	padding-top: 3%;
}

.portfolio nav{
	margin-bottom: 25px;
}

.portfolio a{
	padding: 12px;
	font-size: 16px;
	background-color: white;
	margin:1px;
}

.portfolio .caja{
	background: white;
	padding: 1%;
	margin: 2% 0;
	line-height: 1.5;
	box-shadow: 6px 5px 32px -6px rgba(0,0,0,0.75);
}

.portfolio .caja:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}

.load-more{
	padding: 1% 2%;
}

.portfolio{
	padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
	header h1{
	margin: 3px 0 0 8px;
	}

	header nav{
	margin:0 0 10px 22px;
	}

	header nav a{
	font-size: 16px;
	margin-right: 10px;
	font-weight: 600;
	}

	.banner{
	padding: 0px;
	}

	.icons .col-sm-4{
	margin-top: 20px;
	padding: 0 50px;
	font-size: 16px;
	}

	.portfolio nav a{
	font-size: 0.9em;
	padding: 3px;
	}

	.portfolio nav{
	padding: 0;
	margin-top: 20px;
	}

	.portfolio{
	padding: 10px 0px;
	}

	.caja img{
		width: 100%;
	}
}

/*City*/
.city{
	background-image: url("../img/background/city.jpg");
	background-size: cover;
}
.city p{
	font-size: 1.6em;
}
.city button{
	margin: 15px auto;
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
	background-color: rgba(256, 256, 256, 0.4);
}

.opaco{
	width: 100%;
	background: black;
	opacity: 0.7;
}
@media (max-width: 768px){
	.city{
		background-position: bottom;
	}
	.city p{
        padding-left: 5%;
        padding-right: 5%;
	}
	.city button{
		margin-bottom: 150px;
    }
    .opaco{
    	padding-top: 50px;
    }
}
/* Choose the package*/
.caja{
	background-color: white;
	border: 1px solid #E8E8E8;
	margin-top: 10%;
	margin-bottom: 10%;
}
.title{
	display: block;
	padding: 35px 5px;
	margin: 30px 18px 0;
}
.price{
	display: block;
	padding: 60px 5px;
	font-size: 20px;
	margin: 0 18px;
}
.parrafo{
	width: 75%;
	margin: 30px auto 45px auto;
	border-bottom: 1px solid #E8E8E8;
}
.parrafo p{
	border-bottom: 1px solid #E8E8E8;
	margin: 0;
	padding: 15px 0px;
}
.parrafo button{
	margin: 20px auto;
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
}
.parrafo a:hover {
	color: white;
}
/*Customer*/

.customer{
	border-radius: 50%;
	width: 100px;
	margin-top: 5%;
}
.customer:hover{
	-webkit-transform: scale(1.2); 
	-moz-transform:  scale(1.2); 
	-o-transform:  scale(1.2); 
	-ms-transform:  scale(1.2); 
	transform:  scale(1.2);
}
.texto{
	margin-top: 1.5%;
	font-size: 1.2em;
	line-height: 30px;
	padding-right: 10%;
	padding-left: 10%;
}
@media (max-width: 768px){
	.title{
		padding-left: 12%;
		padding-right: 12%;
	}
	.texto{
		padding-left: 20%;
		padding-right: 20%;
		font-size: 1em;
	}
}
/*Contact Us*/
.contactus{
	background-image: url("../img/background/contactus.jpg");
	background-size: cover;
}
.opacity {
	width: 100%;
	background: black;
	opacity: 0.8;
}

.contactus h3{
	padding-bottom: 2%;
}
.input, .message{
	padding: 2%;
	opacity: 0.4;
    display: block;
    width: 85%; 
    margin-bottom: 20px;
    font-size: 1.2em;
}
.message{
    height: 190px;
}
.contactus button{
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
}
.about{
	line-height: 28px;
}
@media (max-width: 768px){
	.contact{
		padding-right: 5%;
		padding-left: 5%;
		font-size: 1.2em;
	}
}

/*Follow Us*/
.follow p{
	font-size: 1.2em;
}
.follow div a {
	font-size: 2.8em;
	margin-left: 1%;
}
.follow a:hover {
	color: black;
}
@media (max-width: 768px){
	.follow p{
		padding: 5% 18% 8% 18%;
	}
}
/*Footer*/
footer{
	background-color: black;
	padding: 2%;
}
@media(max-width: 768px){
	footer{
		padding: 5%;
	}
}