/*City*/
.city{
	background-image: url("../img/background/city.jpg");
	background-size: cover;
}
.city p{
	font-size: 1.6em;
}
.city button{
	margin: 15px auto;
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
	background-color: rgba(256, 256, 256, 0.4);
}
.city a:hover {
	color: rgb(244, 244, 244);
	font-size: 1.4em;
}
.opaco{
	width: 100%;
	background: black;
	opacity: 0.7;
}
@media (max-width: 768px){
	.city{
		background-position: bottom;
	}
	.city p{
        padding-left: 5%;
        padding-right: 5%;
	}
	.city button{
		margin-bottom: 150px;
    }
    .opaco{
    	padding-top: 50px;
    }
}
/* Choose the package*/
.caja{
	background-color: white;
	border: 1px solid #E8E8E8;
	margin-top: 10%;
	margin-bottom: 10%;
}
.title{
	display: block;
	padding: 35px 5px;
	margin: 30px 18px 0;
}
.price{
	display: block;
	padding: 60px 5px;
	font-size: 20px;
	margin: 0 18px;
}
.parrafo{
	width: 75%;
	margin: 30px auto 45px auto;
	border-bottom: 1px solid #E8E8E8;
}
.parrafo p{
	border-bottom: 1px solid #E8E8E8;
	margin: 0;
	padding: 15px 0px;
}
.parrafo button{
	margin: 20px auto;
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
}
.parrafo a:hover {
	color: white;
}
/*Customer*/

.customer{
	border-radius: 50%;
	width: 100px;
	margin-top: 5%;
}
.customer:hover{
	height: 150px;
	width: 150px;
}
.texto{
	margin-top: 1.5%;
	font-size: 1.2em;
	line-height: 30px;
	padding-right: 10%;
	padding-left: 10%;
}
@media (max-width: 768px){
	.title{
		padding-left: 12%;
		padding-right: 12%;
	}
	.texto{
		padding-left: 20%;
		padding-right: 20%;
		font-size: 1em;
	}
}
/*Contact Us*/
.contactus{
	background-image: url("../img/background/contactus.jpg");
	background-size: cover;
}
.opacity {
	width: 100%;
	background: black;
	opacity: 0.8;
}

.contactus h3{
	padding-bottom: 2%;
}
.input, .message{
	padding: 2%;
	opacity: 0.4;
    display: block;
    width: 85%; 
    margin-bottom: 20px;
    font-size: 1.2em;
}
.message{
    height: 190px;
}
.contactus button{
	border: none;
	padding: 10px 22px;
	font-size: 1.3em;
}
.about{
	line-height: 28px;
}
@media (max-width: 768px){
	.contact{
		padding-right: 5%;
		padding-left: 5%;
		font-size: 1.2em;
	}
}

/*Follow Us*/
.follow p{
	font-size: 1.2em;
}
.follow div a {
	font-size: 2.8em;
	margin-left: 1%;
}
.follow a:hover {
	color: black;
}
@media (max-width: 768px){
	.follow p{
		padding: 5% 18% 8% 18%;
	}
}
/*Footer*/
footer{
	background-color: black;
	padding: 2%;
}
@media(max-width: 768px){
	footer{
		padding: 5%;
		margin-top: 8%;
	}
}